form{
    background-color: white;
    display: inline-block;
    position: relative;
    float: left;
    border-style: dashed;
    height: auto;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 30%;
}

#f_connexion{
    width: 40%;
}

button{
    margin-bottom: 2%; 
}

a{
    color: gray;
}

/* Gère le resposive si l'écran est plus petit que 600 pixels*/
@media screen and (max-width: 600px) {
  #f1 {
    width: 95%;
  }
}