/*=====Style du tableau=====*/
table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    border: 1px solid black;
}
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    border: 1px solid black;
    padding: 8px;
}
table tr:hover {
  background-color: #CCCCCC;
}
table tr {
  background-color: #FFFFFF;
}
table th {
    background-color: #86C4B5; 
    color: white;
    border: 1px solid black;
}
/*=====Fin style du tableau=====*/
/*=====Style bouton=====*/
#Modifier{
	margin-right: 2%;
}
#Supprimer{
	margin-left: 2%;
}
#boutons{
    text-align: center;
    margin-bottom: 4px; 
}
#Annuler{
    margin-right: 4px;
    margin-left: -20px;
}
#Ajouter{
    margin-left: 4px;
}
/*=====Fin style bouton=====*/
#ajouter_un_enfant{
    box-shadow: -15px 12px 35px -10px rgba(0,0,0,0.35);
    padding: 1% 1%;
    background-color: white;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
}