form{
	background-color: white;
	border-style: dashed;
    display: inline-block;
    position: relative;
    float: left;
    height: auto;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 35%;
    width: 30%;
}

body{
	background-color: #e8e8e8;
}

div{
	margin:2%;
	text-align: center;
}