#body{
    background-color: #e8e8e8;
    }

#fond{
    height: 150px;
    width: 100%;
    position: absolute;
}

#logo{
    height: 60px;
    position: relative;
}

.h{
    position: relative;
    left: 2%;
}

li{
  margin: 5px;
}

a{
  width: 100px;
}

#b_nav:hover{
  background-color: #86C4B5 ;
  color: #F8F9FA ;
  border: 1px solid #86C4B5 ;
}

ul{
  margin-right: auto;
  margin-left: 25%;
}

#b_deconnexion{
  width: 39px;
  height: 38px;
  background: url("../Images/deconnexion_noir.png") no-repeat;
  background-color: #F8F9FA;
}
#b_deconnexion:hover{
  background-color: #86C4B5 ;
  color: #F8F9FA ;
  border: 1px solid #86C4B5 ;
  background-image:url("../Images/deconnexion_blanc.png");
}